[alias]
    br = branch
    co = checkout
    ci = commit
    st = status
    w  = whatchanged --reverse

    # http://www.jukie.net/bart/blog/pimping-out-git-log
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

    pu = pull

[apply]
    whitespace = nowarn

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto

[core]
    excludesfile = ~/.gitignore

[man]
    viewer = man

[merge]
    tool = vimdiff

[user]
    name = Ryan Kanno
    email = ryankanno@localkinegrinds.com
    editor = vim
